body {
    background-color: gray;
    min-width: 300px;
}
.menu-section {
    background-color: silver;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.main-button {
    width: 100%;
}
.form-group {
    margin: 5px;
}
.toast-header {
    padding: 5px;
}
.toast-body {
    padding: 5px;
}
