body {
    background-color: gray;
    min-width: 300px;
}
.menu-section {
    background-color: silver;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.main-button {
    width: 100%;
}
.form-group {
    margin: 5px;
}
.toast-header {
    padding: 5px;
}
.toast {
    border-radius: 10px;
}
.toast-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.toast-body {
    padding: 5px;
}
#saveLocationList {
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-group {
    border-radius: 15px;
}
.location-list-action {
    color: gray;
    font-size: 20px;
    float: right;
    /* margin: 2px; */
}
.list-group-item {
    padding: 0.5rem;
}
li.selected {
    background: lightskyblue;
}
.clickable-span {
    cursor: pointer;
}
