body {
    background-color: gray;
    min-width: 300px;
}
.menu-section {
    background-color: silver;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.main-button {
    width: 100%;
}
.form-group {
    margin: 5px;
}
.toast-header {
    padding: 5px;
}
.toast {
    border-radius: 10px;
}
.toast-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.toast-body {
    padding: 5px;
}
#saveLocationList {
    border-width: 10px;
    border-style: solid;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.list-group {
    border-radius: 15px;
}
.location-list-action {
    color: gray;
    font-size: 20px;
    float: right;
}
.list-group-item {
    padding: 0.5rem;
}
li.selected {
    background: lightskyblue;
}
.clickable-span {
    cursor: pointer;
}
.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 0px;
}
.google-account-icon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: white;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 8px;
}
.google-account-icon > img {
    max-width: 80%;
    max-height: 80%;
}
.google-account-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: black;
    width: 35%;
    padding: 0px 0px 0px 8px;
}
